#layout{
    width: 1296px;
height: 1884px;
top: -943px;
left: -648px;
padding: 287px 428px 729px 318px;
gap: 0px;
opacity: 0px;
background: #1C1C1C;

}
#laura{
    width: 317px;
height: 317px;
top: 44px;
left: 116px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;

}
#h1{
    font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30.26px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background: #FFFFFF;

}