#all{
    width: 550px;
height: 868px;
top: 287px;
left: 318px;
padding: 44px 116px 44px 116px;
gap: 0px;
opacity: 0px;
background: #23252C;

}
#laura{
    width: 317px;
height: 317px;
top: 44px;
left: 116px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;

}
#h1{
    font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30.26px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background: #FFFFFF;

}